@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Custom Checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: #00BCD4;
  border: none;
}
.custom-checkbox .checked {
  background-color: #00BCD4;
  border: none;
}
/* Custom Radio Button */
.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked + span {
  background-color: #00BCD4;
  border: none;
}
.section-title {
  background-color: #B2EBF2;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}


.ft30{font-size:23px;color:#2fbec4;}
.ft31{font-size:14px;color:#000000;}
.ft32{font-size:17px;color:#000000;}
.ft33{font-size:32px;color:#000000;}
.ft34{font-size:17px;color:#000000;}
.ft35{font-size:15px;color:#000000;}
.ft36{font-size:13px;color:#000000;}
.ft37{font-size:10px;color:#000000;}
.ft38{font-size:14px;line-height:22px;color:#000000;}
.ft39{font-size:13px;line-height:26px;color:#000000;}
.ft310{font-size:13px;line-height:23px;color:#000000;}
.ft311{font-size:13px;line-height:24px;color:#000000;}
.ft312{font-size:13px;line-height:22px;color:#000000;}
.ft313{font-size:13px;line-height:21px;color:#000000;}
.ft314{font-size:13px;line-height:25px;color:#000000;}
